{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Simple HttpErrorPages | MIT X11 License | https://github.com/AndiDittrich/HttpErrorPages -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    
    <title>We've got some trouble | 403 - Access Denied</title>

</head>

<body>
    <div class="cover">
        <h1>Access Denied <small>Error 403</small></h1>
        <p class="lead">The requested resource requires an authentication.</p>
    </div>
    
    </body>
</html>
