{% include "fork_github.html" %}
{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shitty Code Share</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/milligram.css' %}">
    <link rel="stylesheet" href="{% static 'css/codemirror.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/neo.css' %}" />
    
    <script type="text/javascript" src="{% static 'js/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/highlight.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/loadmode.js' %}"></script>


    {% block css %}

    {% endblock %}
  
  </head>

  <body>
  
    <a href="{% url 'code_share:app_home'%}" style="color:inherit;">
      <h3 style="padding-top:10px; padding-bottom: 5px; padding-left:10px;">Shitty Code Share</h3>      
    </a>

    {% block body %}

    {% endblock %}
    

    {% block scripts %}

    {% endblock %}


  </body>

</html>
 
