{% load staticfiles %}


<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shitty Code Share</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/milligram.css' %}">

  </head>
  <body>
  <a href="{% url 'code_share:app_home'%}" style="color:inherit;">
    <h3 style="padding-top:10px; padding-bottom:20px; padding-left:10px">Shitty Code Share</h3>      
  </a>

    <div class="container">
      
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    
      <form action="." enctype="multipart/form-data" method="POST">
      {% csrf_token %}
       
       {% if filename %}   
          {% if code_share.file_name %}
           File Name:<h4>{{code_share.file_name}}</h4>

          {%else%}
           unique Id:<h4>{{code_share.hash_value}}</h4>

          {%endif%}
          
          <textarea id="code_snippet" name="code_snippet">{{code_share.code}}</textarea><br>
          <input id="submit_edit" type="submit" value="edit">
          <br>          
           <a href="{% url 'code_share:app_home'%}" >
               <div id="create">create new</div>
          </a><br>

       {%else%}
          <input type="text" id="file_field" name="file_name" placeholder="File Name" value="{{code_share.file_name}}">
          
          <textarea id="code_snippet" name="code_snippet" placeholder="Code Snippet">{{code_share.code}}</textarea><br>
          <input id="submit_new" type="submit" value="submit" onmouseover="check_content(this)"><br> 
       
       {%endif%}

      </form>
      
      <blockquote>
          <p><em>Share your shitty code here. nothing is necessary. Put code and submit.BAM.</em></p>
      </blockquote>
    
    </div>

    {% include "fork_github.html" %}
 
  </body>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    
  <script>


    // disables the submit button upon document ready
    window.onload = function() {

      if (document.getElementById("submit_new")){
        document.getElementById("submit_new").disabled = true;
      }
      
      if (document.getElementById("submit_edit")){
        document.getElementById("submit_edit").disabled = true;
      }

    });


    /*enables the submit button on checking if there is 
      content in the code_snippet textarea.
      
      EventListener on Keyup on the textarea(code_snippet) calls this method.
      Content in the textarea is checked and according to that 
      submit buttons are disabled/enabled.
    */
    code_snippet.addEventListener("keyup", (event) => {
      
      if (document.getElementById("code_snippet").value != ""){

        if (document.getElementById("submit_new")){
          document.getElementById("submit_new").disabled = false;
        }
        if (document.getElementById("submit_edit")){
          document.getElementById("submit_edit").disabled = false;
        }

      }
      
      else {
        
        if (document.getElementById("submit_new")){
          document.getElementById("submit_new").disabled = true;
        }

        if (document.getElementById("submit_edit")){
          document.getElementById("submit_edit").disabled = true;
        }
      }

    });
    
  </script>

</html>
