{% extends "base.html" %}
{% load staticfiles %}


{% block css %}
  <link rel="stylesheet" href="{% static 'css/codeshare.css' %}">
{% endblock %}


{% block body %}

  <div class="container">
    
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    <form action="." enctype="multipart/form-data" method="POST">
    {% csrf_token %}
     
      <input type="text" id="file_field" name="file_name" placeholder="File Name" value="{{code_share.file_name}}">
      <textarea id="code_snippet" name="code_snippet" placeholder="Code Snippet">{{code_share.code}}</textarea><br>
      <input id="submit_new" type="submit" value="submit" ><br> 

    </form>
    
    <blockquote>
      <p><em>Share your shitty code here. nothing is necessary. Put code and submit.BAM.</em></p>
    </blockquote>
  </div>

{% endblock %}


{% block scripts%}
  <script type="text/javascript" crossorigin="anonymous" src="{% static 'js/codeshare.js' %}"></script>
{% endblock %}